.content {
    width: 420px;
    align-content: center;
    
}
body{
    margin: 20px;
}

header {
    display: flex;
    align-items: center;
    background-color: blueviolet;
    border-radius: 10px;
	box-shadow: 0px 0px 20px 0px #000000;
	padding: 10px;
}
main {
    margin-left: 10px;
}
img {
    width: 100px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 0px;
    box-shadow: 0px 2px 10px #000000;
}
h1{
    margin-left: 30px;
    color: rgb(19, 220, 220);
    text-shadow: 2px 2px 5px #000000;
}
h2{
    text-shadow: 2px 2px 5px #000000;
}
.lesson{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
footer {
    margin-top: 20px;
    border-radius: 10px;
    background-color: blueviolet;
	box-shadow: 0px 0px 20px 0px #000000;
	padding: 10px;
}
.copyright{
    color: rgb(19, 220, 220);
    text-align: center;
}