@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
    margin: 0px;
    background-color: #adc178;
}
h1 {
    font-family: 'EB Garamond', bold;
}
h2 {
    font-family: 'EB Garamond', bold;
    background-color: #a98467;
    color: black;
    text-align: center;
    padding: 10px;
    margin: 0;
}
.compname{
  color: white;
}
p {
    font-family: 'EB Garamond', serif;
    text-align: center;
    padding: 10px;
    font-size: 25px;
}
header {
    background-color: #6c584c;
}
.head {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    
  }
  
  .headernav {
    display: flex;
    list-style: none;
    padding: 0;
    text-align: center;
    flex-direction: row;
  }

  .headernav a{
    color: white;
  }
.headernav :hover{
  color: #FF686B;
}
  
  .headernav li {
    list-style: none;
    margin-right: 20px; /* Adjust this value to set the spacing between links */
  }
  
  .headernav li:first-child {
    margin-left: 0; /* Remove margin from the first link to avoid extra space */
  }
  .hamburger-btn {
    display: none;
    cursor: pointer;
}

.line {
    width: 30px;
    height: 2px;
    background-color: #000;
    margin: 6px 0;
}
footer {
    background-color: #6c584c;
    text-align: center;
    color: white;
}
.footercont h1{
    margin: 0;
}
footer p{
    background-color: #2B242C;
    color: white;
}
#last-modified{
    margin: 0;
    color: white;
    background-color: #6c584c;
}
.index {
    background-image: url("../img/citrus.jpg");
    background-size: cover;
}
.fullscreentitle {
    text-align: center;
    padding-top: 40px;
    color: white;
  }
.title {
  font-size: 88px;
  text-shadow: 3px 3px 3px black;
    
  }
  .freshimg {
    background-image: url("../img/drinks.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh; /* Set the height to full screen */
    width: 100% auto;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center;
    margin: 0px;
}
.freshfullscreentitle {
    text-align: center;
    padding-top: 40px;
    color: white;
  }
.freshtitle {
    font-size: 48px;
    text-shadow: 2px 2px 6px black;
    
  }
.aboutfullscreentitle {
    text-align: center;
    padding-top: 40px;
    color: white;
  }
.abouttitle {
    font-size: 48px;
    text-shadow: 2px 2px 6px black;
    
  }
.areasect {

    text-align: center;
    margin: auto;
    width: 50%;
}
.areatitle {
    margin-bottom: 0;
}
.areadesc{
    margin-top: 0;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    
  }
  
.areasect, .cardsect {
    flex: 1;
    margin: 20px;
    background-color: #adc178;
  }
.socialnav {
  display: flex;
}
.socialsect{
    width:25%;
    margin: auto;
}
.socialsect {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  /* Additional CSS styles for the form fields */

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}

.orderform button :hover{
  background-color: blue;
}
.form-field label {
    font-weight: bold;
    margin: auto;
}

.form-field select,
.form-field input,
.form-field textarea {
    width: 75%;
    padding: 5px;
    font-size: 16px;
    margin: auto;
}

/* Additional CSS styles for the order summary */
.orderoutput {
    display: none; /* Hide the order summary initially */
}

.orderoutput h2 {
    margin-top: 40px;
}
.container {
  width: 75%;
  margin: 0px auto;
  background-color: #adc178;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: A5FFD6;
}
.weather-card {
  padding: 10px;
  background-color: #f0ead2;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.weather-card img {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.weather-card .temperature {
  font-size: 16px;
}

.weather-card .description {
  font-size: 14px;
}
.cardsect {
  width: 50%;
}
.weather-table {
  margin: auto;
}
#weather-info{
  background-color: #f0ead2;
  border: 2px solid black;
  max-width: 300px;
  margin: 10px auto;
}
.orderform{
  margin: 20px;
}
.aboutuscont {
  width: 75%;
  margin: auto;
  background-color: #84DCC6;
}
.aboutusdesc {
  padding: 20px;
}
.aboutimg {
  background-image: url("../img/fruits.jpg");
  background-size: cover;
  background-position: unset;
}

.iframecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the iframe to have a maximum width if desired */
.iframecontainer iframe {
  max-width: 100%;
}
.contactinfo {
  background-color: white;
    margin: 20px auto;
    width: 25%;
    padding: 20px;
}
.fullscreenbttn {
  display: flex;
    justify-content: center;
    margin: 10px;
}
.fullscreenbttn :hover{
  background-color: #6c584c;
  color: white;
}
button {
  font-family: 'EB Garamond', serif;
  width: 200px;
    font-size: 20px;
    padding: 10px;
    border-radius: 30px;
    background: #adc178;
    color: black;
}
