@media (max-width: 400px) {
    .headernav.show {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(142, 133, 103);
        display: flex;
        flex-direction: column;
        align-items: center; /* Center the navigation links vertically */
        justify-content: center; /* Center the navigation links horizontally */
    }

    .headernav li {
        margin-right: 0;
        margin-bottom: 20px; /* Add some spacing between the navigation links */
    }
    .flex-container {
       display: block;
}
.weather-table tr {
    display: block;
  }

  .weather-table td {
    display: block;
    margin-bottom: 10px; /* Add spacing between table cells for better visibility */
  }
}
.areasect, .cardsect {
    margin: 20px;
    width: 90%; }
.contactinfo{
    width: 75%;
}
p{
    font-size: 15px;
}
nav {
    margin: 10px auto;
}
.hamburger-btn {
    padding: 10px;
    margin: 10px;
    background: white;
}