@media screen and (min-width:401px) and (max-width: 800px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: coral;
        padding: 10px;
        
    }
    
    .headings {
        display: flex;
        align-items: center;
    }
    
    .compname {
        margin-bottom: -4px;
    }
    
    .comptitle {
        font-size: 0.8rem;
        margin-top: 0;
    }
    .social1,
    .social2 {
    height: 30px;
    margin-right: 10px;
}
    
    nav button {
        margin: .2rem 2vw;
        background: transparent;
        border: none;
        font-size: 2rem;
        color: #a76464;
        float: right;
    }
    
    nav ul#primarynav {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    nav ul li a {
        display: block;
        padding: .8rem 2vw;
        text-decoration: none;
        color: #333;
        border-top: 1px solid rgba(0, 0, 0, .5);
    }
    nav ul li.active a {
        background-color: rgba(0, 0, 0, .2);
        color: white;
    }
    nav ul li a:hover {
        background-color: rgba(0, 0, 0, .3);
    }
     nav ul {display: none;} 
    
     nav ul.open {display: block;
        background-color: white;
    } 