body {
  background-color: #BED558;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #6D545D;
  margin-bottom: 10px;
  padding: 20px;
  
}
footer {
  background-color: #6D545D;
  color: white;
}
.flex-containerfooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  padding: 20px;
  text-align: center;
  color: white;
  justify-content: space-around;
}
.footercomp {
  display:flex;
  margin-bottom: 20px;
}
.footernames {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.footercompname {
  margin: 0px;
 
}
.footercomptitle {
  margin: 0px;
  color: white !important;

}
.copyright {
  text-align: center;
  color: white;
  padding: 10px;
}
#last-modified{
  color: white !important;
}

.headings {
  display:flex;
}
.logo {
  display: flex;
  align-items: center;
}
.names {
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.compname {
  margin: 0px;
}
.griditems {
  text-align: center;
}
.heroimage, .companyspotlights, .weather, .join, .news {
  border: 2px solid black;
  background-color: #8B9556;
}
.events {
  background-image: url("../img/fireworks.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  grid-area: a;
  flex-direction: column;
  align-items: center;
}
.eventtitle, .eventlocal {
  background-color: #8B9556;
  margin: 0;
}
.eventtext p {
  background-color: #ABB557;
  border: 2px solid black;
  width: 75%;
  margin: 10px auto;
}

.heroimage {
  background-image: url("../img/watertower.jpg");
  background-size: cover;
  display: flex;
  grid-area: b;
  flex-direction: column;
  justify-content: space-around;
}
.companyspotlights {
  display: flex;
  grid-area: c;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  
 
}
.companyspotlights img {
  width: 75%;
}
.spotlight1, .spotlight2, .spotlight3 {
  border: 2px solid black;

}
.spotlight1contact, .spotlight2contact, .spotlight3contact{
  border-top: 2px solid black;
  background-color: #ABB557;
  margin:0px
}

.weather {
  display: flex;
  grid-area: d;
  flex-direction: column;
  justify-content: center;
}
.weathertile {
  border: 2px solid black;
  width: 50%;
  margin: auto;
  background-color: #ABB557;
}
.join {
  display: flex;
  grid-area: e;
  flex-direction: column;
  justify-content: space-evenly;
}
.news {
  display: flex;
  grid-area: f;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.news p{
  margin: auto;
  border: 2px solid black;
  padding: 10px;
  background-color: #ABB557;
}
.joinchmbr {
  border-radius: 20px;
  height: 50px;
  width: 50%;
  background-color: #756D54;
  color: white;
  font-size: 20px;
}
.join form :hover {
  background-color: #BED558;
}
.joindesc {
  border: 2px solid black;
  width:75%;
  margin:10px auto;
  background-color: #ABB557;
}
#primarynav a {
  color: white;
  font-size: 30px;
}
.headings {
  font-size: 30px;
  color: white;
}
h1 {
  font-size: 50px !important;
}
h2 {
  font-size: 40px !important;
}
h3{
  font-size: 30px;
}
p {
  font-size: 20px;
}
.footernames {
  font-size: 30px !important;
}
.joinpg {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/watertower.jpg");
  background-size: cover;
}
.joinpg form {
  display: flex;
  flex-direction: column;
}
.contactpg {
  display: flex;
  flex-direction: column;
 align-items: center;
 background-color: #ABB557;
 padding: 25%;

}
.copyright{
  border-top: 2px solid white;
}
    #last-modified {
  margin: 0;
}
a {
  text-decoration: none;
}
.thankcont{
  display: flex;

}
.thankyoudesc {
  margin: auto;
}
.img-wrapper {
  display: flex;
}
.discovermain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 2px solid black;
  padding: 20px;
  background-color: #ABB557;

}
.column img{
  width: 100%;
  
}
.column  h2 {
  text-align: center;
  background-color: #756D54;
  margin-bottom: 0;
}
.footer1 {
  display: flex;
  flex-direction: column;

}
.joinpg form {
  width: 80%;
  margin: auto;
  max-width: 1300px;
  margin: 20px;
}

/* Adjust the input fields */
.joinpg form input,
.joinpg form select,
.joinpg form textarea {
  width: 100%;
}

/* Adjust the submit button */
.joinpg form input[type="submit"] {
  width: 100%;
  margin-top: 10px;
  
}