.directory-main {
    display: flex;
    background-color: #8B9556;
    padding: 3%;
    flex-direction: column;
    align-items: center;
}

.directory-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;
}

.directory-wrapper div {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 3%;
    border: solid 1px #2E2B40;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
}

.directory-wrapper img {
    border: solid 1px #2E2B40;
    display: block;
    margin: auto;
    max-width: 200px;
}

.directory-wrapper ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
}

.card-list div {
    width: 100%;
    text-align: center;
}

.card-list img, .card-list em, .card-list a, .card-list ul, .card-list p {
    display: none;
}

.contact-page-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-form-wrapper, .contact-form {
    padding: 5%;
    width: 80%;
}

.contact-form textarea, input, label {
    display: block;
    margin-top: 2%;
}

.contact-form textarea {
    min-width: 40px;
    width: 80%;
}

.contact-form button {
    margin-top: 3%;
    width: 33%;
}