@media screen and (min-width: 801px) {
    header {
        display: flex;
        align-items: center;
        background-color: coral;
        padding: 10px;
    }
    .headings {
        display: flex;
        align-items: center;
    }
    .compname {
        margin-bottom: -3px;
    }
    
    nav {

        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    #primarynav {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    #primarynav li {
        margin-right: 20px;
    }
    
    .social1,
    .social2 {
        height: 30px;
        margin-right: 10px;
    }
    
    #hamburgerbtn {
        display: none;
    }

    .griditems {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 150vh;
        grid-gap: 10px;
        grid-template-areas: 
        "a b b c"
        "d b b c"
        "e f f c";
        
    }
    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }
    .heroimage {
        position: relative;
        text-align: center;
        grid-area: b;
        border: 2px solid black;
    }
    .news {
        text-align: center;
       background-color: blue;
        grid-area: f;
        border: 2px solid black;
    }
    .events {
        text-align: center;
        background-color: blue;
        grid-area: a;
        border: 2px solid black;
    }
    .weather {
        text-align: center;
        background-color: blue;
        grid-area: d;
        border: 2px solid black;
    }
    .join {
        display: flex; 
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        background-color: blue;
        grid-area: e;
        border: 2px solid black;
    }
    .companyspotlights {
        background-color: blue;
        grid-area: c;
        border: 2px solid black;
        padding: 5px;
        
    }
      
    .spotlight1 {
        text-align: center;
        background-color: purple;
        border: 2px solid black;
        flex: 1;
    }
      
    .spotlight2 {
        text-align: center;
        background-color: purple;
        border: 2px solid black;
        flex: 1;
    }
    .joinchmbr {
        height: 40px;
        width: 90%;
        background-color: green;
        text-align: center;
        border-radius: 25px;
      }
      .herotitle {
        position: absolute; 
        top: 0; 
        left: 0;
        margin-left: 20px;
      }
      .heroimg{
        width: 100%; 
        height: 100%; 
        object-fit: cover;
        margin: 0;
      }
      .joinbutton {
        position: absolute; 
        bottom: 0; 
        right: 0;
        height: 25%;
        border-radius: 25px;
        background-color: green;
        width: 50%;
        height: 10%;
        margin-right: 20px;
        margin-bottom: 20px;
      }
      .transportimg {
        width: 50%;
      }
      .primeraphoto{
        width: 50%;
      }
      h2{
        color:yellow;
      }
      h3 {
        color: white
      }
      h4 {
        color: white;
      }
      p {
        color:white
      }
      .weather {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        text-align: center;
      }
      .temp, .weathertype{
        display: flex;
        align-items: right;
      }
      .windspeed, .windchill {
        display: flex; 
        align-items: left;

      }
      .windspeed {
        border-top: 1px solid white;
      }

 }