@media screen and (min-width: 801px) {
    header {
        display: flex;
        align-items: center;
        background-color: coral;
        padding: 10px;
        margin-bottom: 10px;
    }
    
    .headings {
        display: flex;
        align-items: center;
    }
    .compname {
        margin-bottom: -3px;
    }
    
    nav {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    #primarynav {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    #primarynav li {
        margin-right: 20px;
    }
    
    .social1,
    .social2 {
        height: 30px;
        margin-right: 10px;
    }
    
    #hamburgerbtn {
        display: none;
    }

    .griditems {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 100vh;
        grid-gap: 10px;
        grid-template-areas: 
        "a b b c"
        "d b b c"
        "e f f c";
        
    }
    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }
    .heroimage {
        grid-area: b;
        border: 2px solid black;
        box-sizing: border-box;
        
    }
    .news {
        grid-area: f;
        border: 2px solid black;
        box-sizing: border-box;
    }
    .events {
        grid-area: a;
        border: 2px solid black;
        box-sizing: border-box;
    }
    .weather {
        grid-area: d;
        border: 2px solid black;
        box-sizing: border-box;
    }
    .join {
        grid-area: e;
        border: 2px solid black;
        box-sizing: border-box;
    }
    .companyspotlights {
        grid-area: c;
        border: 2px solid black;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
      
    .spotlight1 {
        border: 2px solid black;
        flex: 1;
    }
      
    .spotlight2 {
        border: 2px solid black;
        flex: 1;
    }

    
}