@media screen and (min-width: 801px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: coral;
        padding: 10px;
        margin-bottom: 10px;
        }
    
        .headings {
        text-align: left;
        align-items: center;
        flex: 1;
        }
        button {
            display: none;
        }

    .griditems {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 100vh;
        grid-gap: 10px;
        grid-template-areas: 
        "a b b c"
        "d b b c"
        "e f f c";
        
    }
    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }
    .heroimage {
        grid-area: b;
        border: 2px solid black;
        box-sizing: border-box;
        
    }
    .news {
        grid-area: f;
        border: 2px solid black;
        box-sizing: border-box;
    }
    .events {
        grid-area: a;
        border: 2px solid black;
        box-sizing: border-box;
    }
    .weather {
        grid-area: d;
        border: 2px solid black;
        box-sizing: border-box;
    }
    .join {
        grid-area: e;
        border: 2px solid black;
        box-sizing: border-box;
    }
    .companyspotlights {
        grid-area: c;
        border: 2px solid black;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
      
    .spotlight1 {
        border: 2px solid black;
        flex: 1;
    }
      
    .spotlight2 {
        border: 2px solid black;
        flex: 1;
    }

    
}