@media screen and (min-width:401px) and (max-width: 800px) {
    /*header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: coral;
        padding: 10px;
        margin-bottom: 10px;
        }
    
        .headings {
        text-align: left;
        align-items: center;
        flex: 1;
        }
        .compname{
        margin-bottom: -4px;
        }
        .comptitle {
        font-size: 0.8rem;
        margin-top: 0;
        }*/
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: coral;
            padding: 10px;
            margin-bottom: 10px;
        }
        
        .headings {
            text-align: left;
            align-items: center;
            flex: 1;
        }
        
        .compname {
            margin-bottom: -4px;
        }
        
        .comptitle {
            font-size: 0.8rem;
            margin-top: 0;
        }
        
        nav button {
            margin: .2rem 2vw;
            background: transparent;
            border: none;
            font-size: 2rem;
            color: #a76464;
            float: right;
        }
        
        nav ul#primarynav {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        nav ul li a {
            display: block;
            padding: .8rem 2vw;
            text-decoration: none;
            color: #333;
            border-top: 1px solid rgba(0, 0, 0, .5);
        }
        nav ul li.active a {
            background-color: rgba(0, 0, 0, .2);
            color: white;
        }
        nav ul li a:hover {
            background-color: rgba(0, 0, 0, .3);
        }
         nav ul {display: none;} 
        
         nav ul.open {display: block;
            background-color: white;
        } 
        
    .griditems {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        height: 100vh;
        grid-template-areas: 
        "a a a"
        "b b b"
        "c c c"
        "d d d"
        "e e f";
        grid-gap: 10px;
    }
    .heroimage {
       
        grid-area: a;
        border: 2px solid black;
        
    }
    .news {
       
        grid-area: b;
        border: 2px solid black;
      
    }
    .events {
        
        grid-area: e;
        border: 2px solid black;
 
    }
    .weather {
       
        grid-area: f;
        border: 2px solid black;
    
    }
    .join {
       
        grid-area: d;
        border: 2px solid black;
      
    }
    .companyspotlights {
       
        grid-area: c;
        border: 2px solid black;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        
        
    }
      
      .spotlight1 {
        flex-grow: 1;
        border: 2px solid black;
       
      }
      .spotlight2 {
        flex-grow: 1;
        border: 2px solid black;
        
      }

}








