/* Your existing styles for larger screens go here */

/* Media Query for smaller screens between 585px and 800px */
@media screen and (min-width: 800px) and (max-width: 1116px){
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headings {
    margin-bottom: 10px;
    display: flex;
  }
  .headings {
    display: flex;
    font-size: 25px;
}
#hamburgerbtn{display: none;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  
}
.griditems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 10px;
  grid-template-areas: 
  "a b b c"
  "d b b c"
  "e f f c";
  
}
.events {
grid-area: a;
}
.heroimage {
grid-area: b;
}
.companyspotlights {
grid-area: c;
}
.weather {
grid-area: d;
}
.join {
grid-area: e;
}
.news {
grid-area: f;
}

/* Horizontal menu styles */
nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333; /* Change color as needed */
}
}
@media screen and (min-width: 585px) and (max-width: 799px) {
  body {
    /* Adjust the background color for smaller screens if needed */
    background-color: #BED558;
  }

  /* Override styles for header, footer, and grid layout */
  header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .logo {
    margin-bottom: 10px;
  }
  .headings {
    display: block;
    font-size: 25px;
  }
  h1 {
    font-size: 30px !important;
  }
  h2 {
    font-size: 25px !important;
  }
  h3 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  ;
  }
  .griditems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto); /* Adjust the number of rows here */
    grid-template-areas:
      "a a a"
      "b b b"
      "c c c"
      "d d d"
      "e f f";
    grid-gap: 10px;
    margin-bottom: 10px;;
  }
  .events,
  .heroimage,
  .companyspotlights,
  .weather,
  .join,
  .news {
    width: 100%;
    padding: 10px;
  }
  .eventtext p {
    width: 100%;
  }
  .weathertile {
    width: 100%;
  }
  .joinchmbr {
    width: 100%;
  }
  .joindesc {
    width: 50%;
  }
  .companyspotlights img {
      width: 300px
  }
  
  #primarynav {
      display: none;
    }
  #primarynav a {
    color: black !important;
  }
    
    /* Show the navigation when the hamburger button is clicked */
    #primarynav.show {
      display: flex;
      justify-content: space-around;
      position: absolute;
      top: 0px; /* Adjust the top position as needed */
      left: 0;
      background-color: #8B9556;
      width: 100%;
      text-align: center;
      padding: 10px;
      margin: 0;
      list-style: none;
    }
  .spotlight2{
      display: none;
  }
    #hamburgerbtn {
      width: 50px;
      height: 50px;
    }
    
}
