@media screen and (max-width: 584px){
    .griditems {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        grid-gap: 10px;
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g";
    }
        /* Hide the primary navigation by default */
        #primarynav {
          display: none;
        }
        header{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .headings {
          display: flex;
        }
        .flex-containerfooter {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 10px;
          padding: 20px;
          text-align: center;
          color: white;
          justify-content: space-between;
        }
      
        /* Show the navigation when the hamburger button is clicked */
        #primarynav.show {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: absolute;
          top: 0px; /* Adjust the top position as needed */
          left: 0;
          background-color: #8B9556;
          width: 100%;
          height: 100%;
          text-align: center;
          padding: 10px;
        }
      
        /* Your new styles for this screen size */
        nav {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        #hamburgerbtn {
          margin: 10px;
          width: 50px;
          height: 50px;
        }
        #primarynav {
          background-color: #6D545D;
          width: 100%;
          text-align: center;
          padding: 10px;
          margin: 0;
        }
        #primarynav li {
          display: block;
          padding: 8px 0;
        }
        #primarynav a {
          color: black !important;
        }
        h1 {
            font-size: 25px !important;
        }
        h2 {
            font-size: 20px!important;
        }
        h3{
            font-size: 16px;
        }
        p {
            font-size: 18px ;
        }
        .companyspotlights img{
            width: 200px
        }
        .spotlight2 {
          display: none;
        }
        