

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  
  .topheader {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .title {
    font-size: 32px;
    margin: 0;
    text-align: center;
  }
  
  .titlename {
    font-size: 24px;
    margin: 0;
    text-align: center;
  }
  
  .gridarea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }
  
  section {
    border: 1px solid #ccc;
    text-align: center;
    border: 1px solid #333;
	box-shadow: 0 0 10px #000;
    border-radius: 10px 10px 0 0;
  }
  h3 {
     background-color: darkblue;
     border-radius: 10px 10px 0 0;
     line-height: 2;
     color: white;
  }
  
  section img {
    max-width: 100%;
    padding: 10px;
  }
  
  .description {
    margin-top: 20px;
    padding: 10px;
  }
  .organization {
    text-align: left;
    padding: 10px;
  }
  .orglink{
    text-align: left;
    padding-left: 10px;
  }
  .orglink2{
    text-align: left;
    padding-left: 0px;
  }
  footer {
    margin-top: 20px;
    border-radius: 10px;
    background-color: #333;
	box-shadow: 0px 0px 20px 0px #000000;
	padding: 10px;
    text-align: center;
    color: white;
}
  
  
  @media screen and (max-width: 768px) {
    .gridarea {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 480px) {
    .gridarea {
      grid-template-columns: 1fr;
    }
  }
  
  @media screen and (max-width: 320px) {
    .title {
      font-size: 24px;
    }
  
    .titlename {
      font-size: 20px;
    }
  
    section h1 {
      font-size: 24px;
    }
  
    section p {
      font-size: 14px;
    }
  }